.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: -100px;   
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px 0px 20px 0px;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.boton:hover {
    background-color: blueviolet; /* Cambia el color de fondo al pasar el mouse por encima */
}

#encabezado {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin-top: -100px;   
    }


    #parra {
        flex: 2;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .contenedor {
        display: flex;
        justify-content: center; /* Separar a la izquierda y derecha */
        align-items: center;
        height: 50vh;
        margin-top: -100px; 
    }
    
    .izquierda {
        width: 25%;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    
    .derecha {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Añadir un margen superior al botón "Cancelar" para que esté debajo de "Otros servicios" */
    .boton.cancelar {
        margin-top: 20px;
        background-color: gray;

    }
    .boton.cancelar:hover {
        background-color: red;
    }

    .izquierda .boton {
        margin-bottom: 34px; 
    }


    
